.badge {
    --badgeBaseColor: var(--ifm-color-emphasis-200);

    --badgeBackgroundColor: var(--badgeBaseColor);
    --badgeForegroundColor: hsl(from var(--badgeBaseColor) h s calc(l * .35));
    --badgeGap: 0.25rem;

    display: inline-flex;
    align-items: center;
    gap: var(--badgeGap);
    vertical-align: absmiddle;

    background: var(--badgeBackgroundColor);
    color: var(--badgeForegroundColor);

    padding: 0.25em .3em;

    font-size: inherit;
    font-weight: 700;
}

.badge > .icon {
    width: 1.2em;
    height: 1.2em;
}

.badge.light {
    --badgeBaseColor: var(--ifm-color-emphasis-200);
}

.badge.info {
    --badgeBaseColor: var(--ifm-color-info-contrast-background);
}

.badge.success {
    --badgeBaseColor: var(--color-success);
}

.badge.transparent {
    background: transparent;
    --badgeForegroundColor: currentColor;
    --badgeGap: 0.35rem;
}