.button {
    --buttonBaseColor: var(--color-primary);

    --buttonForegroundColor: var(--buttonBaseColor);
    --buttonBorderColor: var(--buttonForegroundColor);
    --buttonGap: 0.5rem;
    --buttonBorderRadius: 7px;

    --buttonBackgroundColor: transparent;
    --buttonBackgroundColorHover: transparent;
    --buttonBackgroundColorActive: transparent;

    --buttonColorHover: hsl(from var(--buttonBaseColor) h s calc(l * 1.3));
    --buttonColorActive: hsl(from var(--buttonBaseColor) h s calc(l * 1.4));

    --buttonBorderSize: 1px;

    display: inline-flex;
    align-items: center;
    gap: var(--buttonGap);
    vertical-align: absmiddle;

    background: var(--buttonBackgroundColor);
    color: var(--buttonForegroundColor);

    border: solid var(--buttonBorderColor) var(--buttonBorderSize);

    font-size: var(--ifm-font-size-base);

    padding: 0.35em .8em;

    font-weight: 600;

    border-radius: var(--buttonBorderRadius);

    &:hover {
        --buttonForegroundColor: var(--buttonColorHover);
        border-color: var(--buttonColorHover);
    }

    &:active {
        --buttonForegroundColor: var(--buttonColorActive);
        border-color: var(--buttonColorActive);
    }
}

.button > .icon {
    width: 1em;
    height: 1em;
}

/* Button styles with banckground */
.button:is(
    .primary
) {
    --buttonBackgroundColor: var(--buttonBaseColor);
    --buttonForegroundColor: #fff;
    --buttonBorderSize: 0;

    &:hover {
        --buttonBackgroundColor: var(--buttonColorHover);
    }

    &:active {
        --buttonBackgroundColor: var(--buttonColorActive);
    }
}

.button.primary { --buttonBaseColor: var(--color-primary); }